/**
 * Symphony Admin Layout
 */

/*-----------------------------------------------------------------------------
	LESS — Variables Importing
-----------------------------------------------------------------------------*/

@import "variables";

/*--------------------------------------------------------------------------
	Structure
--------------------------------------------------------------------------*/

body {
	background-color: #f4f8fb;
}

#loading {
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: @white;
	transition: ease-out 500ms opacity;
	z-index: 200;
}

#loading.hidden {
	opacity: 0;
	pointer-events: none;
}

#wrapper {
	position: relative;
}

/*--------------------------------------------------------------------------
	Header
--------------------------------------------------------------------------*/

/*---------------------------------------
	Left Bar
---------------------------------------*/

#header {
	.transitioned(~'transform');
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	-webkit-overflow-scrolling: touch;
	overflow: auto;
	position: fixed;
	left: 0;
	top: 0;
	background: @accent;
	width: @spacing-huge;
	height: 100vh;
	z-index: 101;

	> * {
		order: 3;
	}

	h1 {
		box-sizing: border-box;
		order: 1;
		flex-shrink: 0;
		overflow: hidden;
		position: relative;
		top: 0;
		left: 0;
		font-size: @text-current;
		font-weight: 300;
		margin: @spacing-smallish 0 0;
		padding: 0!important;
		height: @spacing-midlarge!important;

		a {
			.flex(~'row', ~'center', ~'flex-start');
			box-sizing: border-box;
			position: absolute;
			left: 0;
			top: 0;
			color: @white;
			font-size: @text-bigger;
			line-height: 1.2em;
			padding: 0 @spacing-smallish!important;
			width: 100%!important;
			height: 100%!important;

			span {
				margin-left: @spacing-smallest;
			}

			.sun {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 6rem;
				height: 6rem;
			}
			.sun .layer {
				position: absolute;
				background-color: #F9D362;
				border-radius: 100%;
				opacity: 0.4;
				-webkit-animation: Wave 1200ms cubic-bezier(0.19, 1, 0.22, 1) 1 both;
						animation: Wave 1200ms cubic-bezier(0.19, 1, 0.22, 1) 1 both;
			}
			.sun .layer-1 {
				width: 2rem;
				height: 2rem;
				opacity: 1;
			}
			.sun .layer-2 {
				width: 4rem;
				height: 4rem;
				-webkit-animation-delay: 50ms;
						animation-delay: 50ms;
			}
			.sun .layer-3 {
				width: 6rem;
				height: 6rem;
				-webkit-animation-delay: 100ms;
						animation-delay: 100ms;
			}
			.sun .layer-4 {
				width: 8rem;
				height: 8rem;
				-webkit-animation-name: WaveFade;
						animation-name: WaveFade;
				-webkit-animation-duration: 1200ms;
						animation-duration: 1200ms;
				-webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
						animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
				-webkit-animation-delay: 150ms;
						animation-delay: 150ms;
				-webkit-animation-iteration-count: 1;
						animation-iteration-count: 1;
				-webkit-animation-fill-mode: both;
						animation-fill-mode: both;
			}
			@-webkit-keyframes Wave {
				0% {
				  -webkit-transform: scale(0);
						  transform: scale(0);
				}
				100% {
				  -webkit-transform: scale(1);
						  transform: scale(1);
				}
			}
			@keyframes Wave {
				0% {
				  -webkit-transform: scale(0);
						  transform: scale(0);
				}
				100% {
				  -webkit-transform: scale(1);
						  transform: scale(1);
				}
			}
			@-webkit-keyframes WaveFade {
				0% {
				  -webkit-transform: scale(0);
						  transform: scale(0);
				}
				100% {
				  -webkit-transform: scale(1);
						  transform: scale(1);
				  opacity: 0;
				}
			}
			@keyframes WaveFade {
				0% {
					-webkit-transform: scale(0);
					transform: scale(0);
				}
				100% {
				  -webkit-transform: scale(1);
					transform: scale(1);
					opacity: 0;
				}
			}

			@media (max-width: (@sm - 1)){
				font-size: @text-big;
			}
		}
	}

	.session {
		display: flex;

		ul {
			bottom: 100%;
			top : auto;
			left: 0;
			right: 0;
			margin-bottom: 0;

			a {
				min-width: 100%;
			}
		}

		@media (max-width: (@sm - 1)){
			display: block;
			margin: 0 3rem;
		}
	}

	&:not(.opened) {
		@media (max-width: (@sm - 1)){
			transform: translateX(-100%);
		}
	}
}

#mobile-bg-menu-toggler {
	@media (min-width: @sm){
		display: none;
	}
}

#header.opened + #mobile-bg-menu-toggler {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: @light-grey;
	opacity: 0.4;
}

#btn-toggle-header-mobile {
	.transitioned(~'transform, color');
	.flex(~'column', ~'center', ~'center');
	transform: translateX(1px);
	box-sizing: border-box;
	color: @dark-grey;
	width: @spacing-midlarge;
	height: @spacing-midlarge;
	z-index: 102;

	&:hover {
		color: @accent;
	}

	@media (min-width: @sm){
		display: none!important;
	}

	#header.opened + & {
		@media (max-width: (@sm - 1)){
			transform: translateX(@spacing-huge);
		}
	}
}

/* Navigation */

#nav {
	order: 2;
	flex-shrink: 0;
	flex-grow: 1;
	margin: 0;
	padding: @spacing-smallish;
	list-style: none;

	/* Titles */

	> span {
		display: block;
		color: @lightest-grey;
		font-size: @text-shorter;
		text-transform: uppercase;
		line-height: 1.4em;
		margin-bottom: @spacing-smallest;
		opacity: 0.5;
	}

	/* First Level */

	> ul {
		color: @white;
		margin: 0;
		padding: 0;

		a {
			display: inline-block;
		}

		> li {
			display: block;
			position: relative;
			font-size: @text-current;
			font-weight: 300;
			line-height: 2rem;
			cursor: pointer;

			> span {
				position: relative;

				svg {
					.transitioned(~'transform',~'0.15s');
					position: absolute;
					left: -@spacing-smallerish;
					top: @spacing-micro;
					color: @lightest-grey;
					opacity: 0.5;
				}
			}

			&:not(.opened) > span svg {
				transform: rotateZ(-90deg);
			}

			&.opened, &.active, &:hover {
				color: @white;
			}

			& + li {
				padding-top: @spacing-smallest;
			}

			/* Second Level */

			ul {
				display: none;
				margin: @spacing-smallest 0 0;
				padding: 0 0 0 @spacing-smallerish;
				background: url(../img/bullet.png) repeat-y 0 0;

				a {
					color: @white;
					white-space: nowrap;
					overflow: hidden;
					max-width: 100%;
					text-overflow: ellipsis;
					line-height: 1em;
				}

				li.active {
					&::before {
						content: '';
						background-color: @green;
						position: absolute;
						left: -@spacing-smallish;
						height: @spacing-smaller;
						width: 3px;
					}
				}

				a:hover {
					color: @white;
				}

				li + li {
					margin-top: @spacing-micro;
				}
			}
		}

		& + span {
			padding-top: @spacing-smallish;
		}
	}
}

/* Session */

.session {
	.flex(~'row', ~'center', ~'flex-start');
	flex-shrink: 0;
	position: relative;
	margin: 0;
	cursor: pointer;

	> div {
		.transitioned(~'background');
		.flex(~'row', ~'center', ~'space-between');
		flex-grow: 1;
		box-sizing: border-box;
		border-radius: @radius-current;
		padding: @spacing-micro @spacing-smallest;
		min-height: @spacing-small;
		background: @darker-accent;
		color: @white;

		> span {
			font-size: @text-short;
			user-select: none;
		}

		> svg {
			margin-left: @spacing-smallest;
			.transitioned(~'transform');
			transform: none;
		}

		&:hover {
			background: rgba(000, 000, 000, 0.15);
		}
	}

	> ul {
		.transitioned(~'opacity');
		border-radius: @radius-current;
		position: absolute;
		right: 0;
		top: 100%;
		color: @dark-grey;
		margin: 0 0 @spacing-micro;
		background: @white;
		opacity: 0;
		pointer-events: none;
		z-index: 200;
		overflow: hidden;
		box-shadow: @shadow-main;

		> li {
			> a {
				.transitioned(~'color');
				.flex(~'row', ~'center', ~'space-between');
				color: currentColor;
				padding: @spacing-smaller @spacing-smallest;
				min-width: 20rem;
				box-sizing: border-box;
				font-size: @text-current;
				line-height: 1em;

				svg {
					width: @spacing-smallerish;
					height: @spacing-smallerish;
				}

				&:hover {
					background-color: @accent;
					color: @white;
				}
			}

			& + li {
				border-top: 1px solid @lightest-grey;
			}
		}
	}

	&.is-panel-opened {
		> div svg {
			transform: rotateZ(180deg);
		}

		> ul {
			opacity: 1;
			pointer-events: all;
		}
	}
}

/* Version */

#version {
	flex-shrink: 0;
	position: relative;
	color: @white;
	font-size: @text-shorter;
	line-height: 1.4em;
	margin-bottom: 0;
	padding: @spacing-smallerish @spacing-smallish;
}

/*---------------------------------------
	Top Bar
---------------------------------------*/

#tools {
	display: none;

	&:not(:empty) {
		display: block;
		background-color: @dark-accent;
		height: @spacing-midlarge;
		padding: 0 @spacing-smallish;
		.flex(~'row', ~'center', ~'space-between');
		color: @white;

		@media (max-width: (@sm - 1)){
			padding: 0 @spacing-smallest;

			.session {
				display: none;
			}
		}

		> a {
			background-color: @darker-accent;
			line-height: 1em;
			color: @white;
			font-weight: 700;
			font-size: @text-short;
			padding: @spacing-smallest @spacing-smallerish;
			border-radius: @radius-current;

			&:hover {
				background: rgba(000, 000, 000, 0.15);
			}
		}
	}
}

#context {
	.flex(~'row', ~'center', ~'space-between');
	box-sizing: border-box;
	left: @spacing-huge;
	background: @white;
	height: @spacing-midlarge;
	z-index: 50;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	border-bottom: 1px solid @lightest-grey;

	#tools:empty + & {
		margin-top: @spacing-smallish;
	}

	/* Actions */

	> .actions {
		.flex(~'row', ~'center', ~'flex-end');
		flex-grow: 1;
		order: 3;
		margin: 0 @spacing-smallerish 0 0;
		max-width: 90%;

		@media (max-width: (@sm - 1)){
			margin: 0;
		}

		@media (max-width: (@xs - 1)){
			max-width: calc(~'100% - @{spacing-midlarge}');
		}

		a, button {
			border-radius: 0px;
			.flex(~'row', ~'center', ~'flex-start');
			color: @dark-grey;
			font-size: @text-shorter;
			text-transform: uppercase;
			line-height: @spacing-midlarge;
			margin: 0;
			padding: 0 @spacing-smallerish;
			background: none;
			white-space: nowrap;

			> svg {
				flex-shrink: 0;
				max-width: 2.6rem;
				max-height: 2.6rem;
			}

			> span {
				.transitioned(~'width');
				overflow: hidden;

				> span {
					text-overflow: ellipsis;
					display: block;
					overflow: hidden;
					padding-left: @spacing-smallest;
					white-space: nowrap;
				}
			}

			&.selected,
			&:hover {
				color: @accent;
			}
		}

		button {
			display: block;
			position: relative;
			padding-left: @spacing-smallerish + @spacing-smaller;

			svg {
				position: absolute;
				left: @spacing-smallerish;
				top: 50%;
				margin-top: -@spacing-smallest;
			}
		}

		li {
			flex-shrink: 1;

			&.featured {
				order: 99;
				max-width: 100%!important;

				a, button {

					&.create {
						box-sizing: border-box;
						color: @accent;

						&:hover {
							color: @green;
						}
					}
				}
			}

			&:not(.featured) a > span,
			&:not(.featured) button > span {
				@media (max-width: (@xs - 1)){
					display: none;
				}
			}
		}

		fieldset > div {
			.flex(~'row', ~'center', ~'flex-start');

			> a  + a {
				margin-left: @spacing-smallish;
			}
		}
	}
}

/* Breadcrumbs */

#breadcrumbs {
	.flex(~'row',~'center', ~'flex-start');
	order: 1;
	overflow: hidden;
	position: relative;
	padding: 0 @spacing-smallish;
	white-space: nowrap;

	@media (max-width: @xs) {
		display: none;
	}

	nav {
		flex-shrink: 0;

		p {
			margin: 0;
			padding-right: @spacing-smallish;

			a {
				background-color: @lightest-grey;
				color: @dark-grey;
				font-size: @text-short;
				display: inline-block;
				padding: 1.1rem 1.7rem;
				border-radius: @radius-current;
				font-weight: 700;
				margin-left: @spacing-smallest;
				.flex(~'center', ~'flex-start');
				line-height: 1em;

				&:first-of-type {
					margin-left: 0;
				}

				svg {
					padding-right: 15px;
				}

				&:hover {
					color: @accent;
				}
			}

			.sep {
				display: none;
			}
		}
	}

	h2 {
		text-overflow: ellipsis;
		overflow: hidden;
		color: @dark-grey;
		font-size: @text-bigger;
		font-weight: 300;

		img {
			display: none;
		}
	}

	p.inactive {
		display: inline-block;
		margin: 0;
		margin-left: @spacing-smallest;

		span {
			color: @accent;
			font-size: @text-current;
		}
	}
}

/* Actions - Page */

body.page-single #contents .actions {
	display: block;

	margin: 0;
	padding: 0;
	z-index: 110;
	margin-left: -@spacing-smallest;

	input, button {
		margin-left: @spacing-smallest;
		.transitioned(~'opacity, background');
		cursor: pointer;

		&[name="action[save]"] {
			float: right;
			&:hover {
				background: @green!important;
			}
		}

		&[name="action[delete]"], &[name="action[delete]"]:hover {
			background: @red!important;
			color: #fff;
		}

		&:hover {
			background: @darker-grey!important;
			color: #fff;
		}
	}

	.svg-icon-container {
		overflow: hidden;
		position: relative;

		svg {
			content: ">";
			position: absolute;
			left: 2.2rem;
			top: 0.9rem;
			color: @white;
			max-width: 2.6rem;
			max-height: 2.6rem;
			pointer-events: none;
		}

		&:first-child + svg {
			display: none;
		}
	}

	@media (max-width: (@sm - 1)) {
		.flex(~'row',~'center',~'flex-start');
		overflow: auto;
		padding: 0;
		margin: 0;
		border-top: 1px solid @lighter-grey;
		background: @white;
		width: auto;
		height: @spacing-midlarge;

		input, button {
			&:first-child {
				margin-left: 0;
			}
		}

	}
}

body.index #contents .actions {
	position: relative;

	&:after {
		content: '';
		clear: both;
		display: block;
		position: relative;
		width: 100%;
		height: 1px;
	}
}

/*--------------------------------------------------------------------------
	Contents
--------------------------------------------------------------------------*/

#contents {
	box-sizing: border-box;
	position: relative;
	padding-top: @spacing-mid;
	padding-left: @spacing-smallish;
	background-color: @lightest-grey;
	min-height: ~'calc(100vh - @{spacing-midlarge} - @{spacing-midlarge})';

	&.spaced-top {
		padding-top: calc(~'@{spacing-smallish} + @{spacing-midlarge}');
	}

	& > form {
		transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
		transition-duration: 500ms;
		transition-property: opacity, transform;
		background-color: @white;
		min-height: ~'calc(100vh - @{spacing-midlarge} - @{spacing-midlarge} - @{spacing-midlarge})';
		padding: @spacing-midlarge @spacing-smallish;
		box-sizing: border-box;
		border-top-left-radius: @radius-current;
		opacity: 0;
		transform: ~'translateY(@{spacing-small})';

		.pagination {
			margin-bottom: @spacing-smallish;
		}

		.js-active & {
			opacity: 1;
			transform: none;
		}
	}

	> p:first-child {
		margin: 0 0 @spacing-smallish!important;
	}

	> form:first-child {
		margin-right: 0!important;
	}

	@media (max-width: (@sm - 1)){
		padding-left: 0;
		padding-top: 0;

		& > form {
			border-top-left-radius: 0;
			transform: ~'translateY(0)';
			opacity: 1;
			padding: @spacing-midlarge @spacing-smallest;
		}
	}

}

/*--------------------------------------------------------------------------
	Publish
--------------------------------------------------------------------------*/
#publish.page-single {
	#contents {
		padding: @spacing-smaller;
		form {
			background-color: @lightest-grey;
			padding: 0;

			label {
				margin-bottom: 0;
			}

			.field {
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}

		.columns {
			margin-left: 0;
		}
	
		.column {
			background-color: @white;
			padding: @spacing-smaller;
			box-sizing: border-box;
			border-radius: @radius-current;
	
			&.primary {
				width: ~'calc(100% - @{spacing-smallish} - @{spacing-huger})';
				flex-grow: 1;
			}
	
			&.secondary {
				margin-left: @spacing-smallish;
				flex-shrink: 0;

				@media (max-width: (@md - 1)){
					margin-left: 0;
				}
			}
		}

	}
}

/*--------------------------------------------------------------------------
	Pagination
--------------------------------------------------------------------------*/

ul.page {
	.flex(~'row',~'center',~'center');
	padding: @spacing-smallish;
	box-sizing: border-box;
	margin: 0;
	color: @dark-grey;
	cursor: default;
	background-color: @white;

	a {
		color: @accent;

		&:hover {
			color: @darker-grey
		}
	}

	input {
		border-radius: @radius-current;
		color: @dark-grey;
		font-size: @text-short;
		text-align: center!important;
		line-height: 1em;
		padding: @spacing-smallest @spacing-smallerish;
		border: 1px solid @lighter-grey;
		box-shadow: none;
		outline: none;
	}

	form.invalid input {
		border-color: @red;
	}

	li {
		font-size: @text-current;

		& + li {
			margin-left: @spacing-smallerish;
		}
	}
}
