/**
 * Symphony Admin Layout
 */

/*-----------------------------------------------------------------------------
	LESS — Variables Importing
-----------------------------------------------------------------------------*/

@import "variables";

/*--------------------------------------------------------------------------
	Structure
--------------------------------------------------------------------------*/

#loading {
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: @white;
	transition: ease-out 500ms opacity;
	z-index: 200;
}

#loading.hidden {
	opacity: 0;
	pointer-events: none;
}

#wrapper {
	position: relative;
}

/*--------------------------------------------------------------------------
	Header
--------------------------------------------------------------------------*/

/*---------------------------------------
	Left Bar
---------------------------------------*/

#header {
	.transitioned(~'transform');
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	-webkit-overflow-scrolling: touch;
	overflow: auto;
	position: fixed;
	left: 0;
	top: 0;
	background: @accent;
	width: @spacing-huge;
	height: 100vh;
	z-index: 101;

	&.spaced-bottom {
		@media (max-width: (@sm - 1)){
			height: calc(~'100vh - @{spacing-midlarge}');
		}
	}

	> * {
		order: 3;
	}

	h1 {
		box-sizing: border-box;
		order: 1;
		flex-shrink: 0;
		overflow: hidden;
		position: relative;
		top: 0;
		left: 0;
		font-size: @text-current;
		font-weight: 300;
		margin: @spacing-smallish 0 0;
		padding: 0!important;
		height: @spacing-midlarge!important;

		a {
			.flex(~'row', ~'center', ~'flex-start');
			box-sizing: border-box;
			position: absolute;
			left: 0;
			top: 0;
			color: @white;
			font-size: @text-bigger;
			line-height: 1.2em;
			padding: 0 @spacing-smallish!important;
			width: 100%!important;
			height: 100%!important;

			.sun {
				height: 20px;
				width: 20px;
				margin-right: 40px;
				margin-left: 20px;

				div {
					background-color: #F9D362;
					height: 20px;
					width: 20px;
					border-radius: 100%;
					position: absolute;
				}
				
				div:nth-of-type(1) {
					transform: scale(2);
					opacity: 0.3;
					animation-iteration-count: 1;
					animation-name: wave-middle;
					animation-duration: 800ms;
					animation-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
				}
				
				div:nth-of-type(2) {
					transform: scale(3);
					opacity: 0.3;
					animation-iteration-count: 1;
					animation-name: wave-end;
					animation-duration: 800ms;
					animation-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
				}
				
				div:nth-of-type(3) {
					transform: scale(4);
					opacity: 0;
					animation-iteration-count: 1;
					animation-name: wave-hide;
					animation-duration: 800ms;
					animation-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
				}
			}
			
			@keyframes wave-middle {
				0% {
					transform: scale(1);
					opacity: 0;
				}
				100% {
					transform: scale(2);
					opacity: 0.4;
				}
			}
			
			@keyframes wave-end {
				0% {
					transform: scale(0);
					opacity: 0;
				}
				100% {
					transform: scale(3);
					opacity: 0.3;
				}
			}
			
			@keyframes wave-hide {
				0% {
					transform: scale(0);
					opacity: 0;
				}
				100% {
					transform: scale(4);
					opacity: 0;
				}
			}

			@media (max-width: (@sm - 1)){
				font-size: @text-big;
			}
		}
	}

	&:not(.opened) {
		@media (max-width: (@sm - 1)){
			transform: translateX(-100%);
		}
	}
}

#btn-toggle-header-mobile {
	.transitioned(~'transform, color');
	.flex(~'column', ~'center', ~'center');
	transform: translateX(1px);
	box-sizing: border-box;
	position: fixed;
	left: -1px;
	top: 0;
	color: @dark-grey;
	border: 1px solid @lighter-grey;
	border-top: none;
	background: @white;
	width: @spacing-midlarge;
	height: @spacing-midlarge;
	z-index: 102;

	&:hover {
		color: @accent;
	}

	@media (min-width: @sm){
		display: none!important;
	}

	#header.opened + & {
		@media (max-width: (@sm - 1)){
			transform: translateX(@spacing-huge);
		}
	}
}

/* Navigation */

#nav {
	order: 2;
	flex-shrink: 0;
	flex-grow: 1;
	margin: 0;
	padding: @spacing-smallish;
	list-style: none;

	/* Titles */

	> span {
		display: block;
		color: @lightest-grey;
		font-size: @text-shorter;
		text-transform: uppercase;
		line-height: 1.4em;
		margin-bottom: @spacing-smallest;
		opacity: 0.5;
	}

	/* First Level */

	> ul {
		color: @white;
		margin: 0;
		padding: 0;

		a {
			display: inline-block;
		}

		> li {
			display: block;
			position: relative;
			font-size: @text-current;
			font-weight: 300;
			line-height: 2rem;
			cursor: pointer;

			> span {
				position: relative;

				svg {
					.transitioned(~'transform',~'0.15s');
					position: absolute;
					left: -@spacing-smallerish;
					top: @spacing-micro;
					color: @lightest-grey;
					opacity: 0.5;
				}
			}

			&:not(.opened) > span svg {
				transform: rotateZ(-90deg);
			}

			&.opened, &.active, &:hover {
				color: @white;
			}

			& + li {
				padding-top: @spacing-smallest;
			}

			/* Second Level */

			ul {
				display: none;
				margin: @spacing-smallest 0 0;
				padding: 0 0 0 @spacing-smallerish;
				background: url(../img/bullet.png) repeat-y 0 0;

				a {
					color: @white;
					white-space: nowrap;
					overflow: hidden;
					max-width: 100%;
					text-overflow: ellipsis;
					line-height: 1em;
				}

				li.active {
					&::before {
						content: '';
						background-color: @green;
						position: absolute;
						left: -@spacing-smallish;
						height: @spacing-smaller;
						width: 3px;
					}
				}

				a:hover {
					color: @white;
				}

				li + li {
					margin-top: @spacing-micro;
				}
			}
		}

		& + span {
			padding-top: @spacing-smallish;
		}
	}
}

/* Session */

#session {
	.flex(~'row', ~'center', ~'flex-start');
	flex-shrink: 0;
	position: relative;
	margin: 0;
	cursor: pointer;

	> div {
		.transitioned(~'background');
		.flex(~'row', ~'center', ~'space-between');
		flex-grow: 1;
		box-sizing: border-box;
		border-radius: @radius-current;
		padding: @spacing-micro @spacing-smallest;
		min-height: @spacing-small;
		background: rgba(000, 000, 000, 0.25);
		color: @white;

		> span {
			font-size: @text-short;
			user-select: none;
		}

		> svg {
			margin-left: @spacing-smallest;
			.transitioned(~'transform');
			transform: none;
		}

		&:hover {
			background: rgba(000, 000, 000, 0.15);
		}
	}

	> ul {
		.transitioned(~'opacity');
		border-radius: @radius-current;
		position: absolute;
		left: 0;
		right: 0;
		top: 100%;
		color: @dark-grey;
		font-size: @text-short;
		line-height: 1.4em;
		margin: 0 0 @spacing-micro;
		border: 1px solid @lighter-grey;
		background: @white;
		opacity: 0;
		pointer-events: none;
		z-index: 200;

		> li {
			> a {
				.transitioned(~'color');
				.flex(~'row', ~'center', ~'space-between');
				color: currentColor;
				padding: @spacing-smallest @spacing-smallerish;

				svg {
					width: @spacing-smallerish;
					height: @spacing-smallerish;
				}

				&:hover {
					color: @accent;
				}
			}

			& + li {
				border-top: 1px solid @lighter-grey;
			}
		}
	}

	&.is-panel-opened {
		> div svg {
			transform: rotateZ(180deg);
		}

		> ul {
			opacity: 1;
			pointer-events: all;
		}
	}
}

/* Version */

#version {
	flex-shrink: 0;
	position: relative;
	color: @white;
	font-size: @text-shorter;
	line-height: 1.4em;
	margin-bottom: 0;
	padding: @spacing-smallerish @spacing-smallish;
}

/*---------------------------------------
	Top Bar
---------------------------------------*/

#tools {
	display: none;

	&:not(:empty) {
		display: block;
		background-color: @dark-accent;
		height: @spacing-midlarge;
		padding: 0 @spacing-smallish;
		.flex(~'row', ~'center', ~'flex-end');
		color: @white;
	}
}

#context {
	.flex(~'row', ~'center', ~'space-between');
	box-sizing: border-box;
	left: @spacing-huge;
	background: @white;
	height: @spacing-midlarge;
	z-index: 50;

	#tools:empty + & {
		margin-top: @spacing-smallish;
	}

	@media (max-width: (@sm - 1)){
		/*justify-content: flex-end;*/
		left: 0;
		padding-left: @spacing-midlarge;
	}

	@media (max-width: (@xs - 1)){
		justify-content: flex-end;
	}

	/* Actions */

	> .actions {
		.flex(~'row', ~'center', ~'flex-end');
		flex-grow: 1;
		order: 3;
		margin: 0 @spacing-smallerish 0 0;
		max-width: 90%;

		@media (max-width: (@xs - 1)){
			max-width: calc(~'100% - @{spacing-midlarge}');
		}

		a, button {
			border-radius: 0px;
			.flex(~'row', ~'center', ~'flex-start');
			color: @dark-grey;
			font-size: @text-shorter;
			text-transform: uppercase;
			line-height: @spacing-midlarge;
			margin: 0;
			padding: 0 @spacing-smallerish;
			background: none;
			white-space: nowrap;

			> svg {
				flex-shrink: 0;
				max-width: 2.6rem;
				max-height: 2.6rem;
			}

			> span {
				.transitioned(~'width');
				overflow: hidden;

				> span {
					text-overflow: ellipsis;
					display: block;
					overflow: hidden;
					padding-left: @spacing-smallest;
					white-space: nowrap;
				}
			}

			&.selected,
			&:hover {
				color: @accent;
			}
		}

		button {
			display: block;
			position: relative;
			padding-left: @spacing-smallerish + @spacing-smaller;

			svg {
				position: absolute;
				left: @spacing-smallerish;
				top: 50%;
				margin-top: -@spacing-smallest;
			}
		}

		li {
			flex-shrink: 1;

			&.featured {
				order: 99;
				margin-right: -@spacing-smallerish;
				max-width: 100%!important;

				a, button {
					padding-right: @spacing-smallish;

					&.create {
						box-sizing: border-box;
						color: @accent;

						&:hover {
							color: @green;
						}
					}
				}
			}

			&:not(.featured) a > span,
			&:not(.featured) button > span {
				@media (max-width: (@xs - 1)){
					display: none;
				}
			}
		}

		fieldset > div {
			.flex(~'row', ~'center', ~'flex-start');

			> a  + a {
				margin-left: @spacing-smallish;
			}
		}
	}
}

/* Breadcrumbs */

#breadcrumbs {
	.flex(~'row',~'center', ~'flex-start');
	order: 1;
	overflow: hidden;
	position: relative;
	padding: 0 @spacing-smallish;
	white-space: nowrap;

	@media (max-width: @xs) {
		display: none;
	}

	nav {
		flex-shrink: 0;

		p {
			margin: 0;
			padding-right: @spacing-smallish;

			a {
				background-color: @lightest-grey;
				color: @dark-grey;
				font-size: @text-short;
				display: inline-block;
				padding: 1.1rem 1.7rem;
				border-radius: @radius-current;
				font-weight: 700;
				margin-left: @spacing-smallest;
				.flex(~'center', ~'flex-start');
				line-height: 1em;

				&:first-of-type {
					margin-left: 0;
				}

				svg {
					padding-right: 15px;
				}

				&:hover {
					color: @accent;
				}
			}

			.sep {
				display: none;
			}
		}
	}

	h2 {
		text-overflow: ellipsis;
		overflow: hidden;
		color: @dark-grey;
		font-size: @text-bigger;
		font-weight: 300;

		img {
			display: none;
		}
	}

	p.inactive {
		display: inline-block;
		margin: 0;
		margin-left: @spacing-smallest;

		span {
			color: @accent;
			font-size: @text-current;
		}
	}
}

/* Actions - Page */

body.page-single #contents .actions {
	display: block;

	margin: 0;
	padding: 0;
	z-index: 110;
	margin-left: -@spacing-smallish;

	input, button {
		margin-left: @spacing-smallest;
		.transitioned(~'opacity, background');
		cursor: pointer;

		&[name="action[save]"] {
			float: right;
			&:hover {
				background: @green!important;
			}
		}

		&[name="action[delete]"], &[name="action[delete]"]:hover {
			background: @red!important;
			color: #fff;
		}

		&:hover {
			background: @darker-grey!important;
			color: #fff;
		}
	}

	.svg-icon-container {
		overflow: hidden;
		position: relative;

		svg {
			content: ">";
			position: absolute;
			left: 2.2rem;
			top: 0.9rem;
			color: @white;
			max-width: 2.6rem;
			max-height: 2.6rem;
			pointer-events: none;
		}

		&:first-child + svg {
			display: none;
		}
	}

	@media (max-width: (@sm - 1)) {
		.flex(~'row',~'center',~'flex-start');
		box-sizing: border-box;
		transform: translateY(-100%);
		overflow: auto;
		top: 100vh;
		left: @spacing-huge;
		padding: 0 @spacing-smallerish;
		border-top: 1px solid @lighter-grey;
		background: @white;
		width: auto;
		height: @spacing-midlarge;

		@media (max-width: @sm) {
			left: 0;
		}

		input, button {
			line-height: 1.6rem;
			padding: @spacing-smallest @spacing-smallerish;
			border-radius: @radius-current;
			width: auto;
			height: auto;
		}

		.svg-icon-container svg {
			display: none;
		}

	}
}

body.index #contents .actions {
	position: relative;

	&:after {
		content: '';
		clear: both;
		display: block;
		position: relative;
		width: 100%;
		height: 1px;
	}
}

/*--------------------------------------------------------------------------
	Contents
--------------------------------------------------------------------------*/

#contents {
	box-sizing: border-box;
	position: relative;
	padding-top: @spacing-mid;
	padding-left: @spacing-smallish;
	background-color: @lightest-grey;
	min-height: ~'calc(100vh - @{spacing-midlarge} - @{spacing-midlarge})';

	&.spaced-top {
		padding-top: calc(~'@{spacing-smallish} + @{spacing-midlarge}');
	}

	& > * {
		transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
		transition-duration: 500ms;
		transition-property: opacity, transform;
		background-color: @white;
		min-height: ~'calc(100vh - @{spacing-midlarge} - @{spacing-midlarge} - @{spacing-midlarge})';
		padding: @spacing-midlarge @spacing-smallish;
		box-sizing: border-box;
		border-top-left-radius: @radius-current;
		opacity: 0;
		transform: ~'translateY(@{spacing-small})';

		.js-active & {
			opacity: 1;
			transform: none;
		}
	}

	> p:first-child {
		margin: 0 0 @spacing-smallish!important;
	}

	> form:first-child {
		margin-right: 0!important;
	}

}

/*--------------------------------------------------------------------------
	Pagination
--------------------------------------------------------------------------*/

ul.page {
	.flex(~'row',~'center',~'center');
	margin: @spacing-smallish 0 0;
	padding: 0 @spacing-smallish;
	color: @dark-grey;
	cursor: default;

	a {
		color: @accent;

		&:hover {
			color: @darker-grey
		}
	}

	input {
		border-radius: @radius-current;
		color: @dark-grey;
		font-size: @text-short;
		text-align: center!important;
		line-height: 1em;
		padding: @spacing-smallest @spacing-smallerish;
		border: 1px solid @lighter-grey;
		box-shadow: none;
		outline: none;
	}

	form.invalid input {
		border-color: @red;
	}

	li {
		font-size: @text-current;

		& + li {
			margin-left: @spacing-smallerish;
		}
	}
}
