/**
 * Symphony Tables
 */

/*-----------------------------------------------------------------------------
	LESS — Variables Importing
-----------------------------------------------------------------------------*/

@import "variables";

/*-----------------------------------------------------------------------------
	Tables
-----------------------------------------------------------------------------*/

table {
	border-radius: @radius-current;
	border-collapse: initial;
	font-size: @text-short;
	text-align: left;
	border: 1px solid @lighter-grey;
	width: 100%;
	overflow-wrap: break-word;
	word-wrap: break-word;
	table-layout: fixed;

	label {
		margin-bottom: 0!important;
	}

	@media (max-width: (@sm - 1)){
	 	thead {
	 		display: none;
	 	}

	 	tr {
	 		.flex(~'column', ~'flex-start', ~'flex-start');

	 		td {
	 			box-sizing: border-box;
	 			display: flex;
	 			flex-direction: row;
	 			align-items: baseline;
	 			border: none;
	 			width: 100%;

			 	&:before {
			 		content: attr(data-title);
			 		display: block;
			 		font-size: @text-shorter;
			 		font-weight: bold;
			 		text-transform: uppercase;
			 		padding-right: @spacing-micro;
			 		white-space: nowrap;
			 	}

			 	&:not(:first-child) {
			 		padding-top: 0!important;
			 	}

			 	&:not(:last-child) {
			 		padding-bottom: 0!important;
			 	}
	 		}

	 		& + tr td:first-child {
	 			border-top: 1px solid @lighter-grey;
	 		}
	 	}
	}
}

th {
	overflow: hidden;
	text-overflow: ellipsis;
	color: @dark-grey;
	font-size: @text-shorter;
	font-weight: 400;
	text-transform: uppercase;
	text-align: left;
	line-height: 1.4em;
	padding: @spacing-smallerish;
	background: transparent;
	white-space: nowrap;

	@media (min-width: @sm){
		&:first-child {
			padding-left: @spacing-smallish;
		}

		&:last-child {
			padding-right: @spacing-smallish;
		}
	}

	a {
		.flex(~'row',~'center',~'flex-start');

		span {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	a,
	a:hover,
	a:hover:after {
		color: @dark-grey;
	}

	a:after {
		color: @grey;
		font-size: .875em;
	}

	a:active,
	a.active,
	a.active:after {
		color: @darker-grey;
	}

	a:after {
		margin-left: @spacing-micro;
		content: '';
	}

	a[href*="order=desc"]:after,
	a.active[href*="order=asc"]:after,
	a.active[href*="order=desc"]:hover:after {
		content: '\2193'; /* down arrow */
	}

	a[href*="order=asc"]:after,
	a.active[href*="order=desc"]:after,
	a.active[href*="order=asc"]:hover:after {
		content: '\2191'; /* up arrow */
	}
}

td {
	.transitioned(~'color, background');
	color: @dark-grey;
	text-align: left;
	line-height: 1.4em;
	padding: @spacing-smallerish!important;
	border-top: 1px solid @lighter-grey;
	vertical-align: middle;

	@media (min-width: @sm){
		&:first-child {
			padding-left: @spacing-smallish!important;
		}

		&:last-child {
			padding-right: @spacing-smallish!important;
		}
	}

	a {
		color: @accent;

		&:hover {
			color: @dark-grey;
		}
	}

	img {
		max-height: @spacing-small;
	}
}

/*-----------------------------------------------------------------------------
	Selectable rows
-----------------------------------------------------------------------------*/

table.selectable input {
	display: none;
}

tr.selected td {
	color: @white;
	background-color: @accent;

	a {
		color: @white;
	}
}

tr.selected td a:hover {
	color: @white;
	border-bottom-color: @white;
}

tr.selected td a:focus {
	color: @white;
	border-bottom-color: @white;
}

tr.selected .inactive,
tr.selected i {
	color: @white;
}

/*-----------------------------------------------------------------------------
	Orderable rows
-----------------------------------------------------------------------------*/

tr.ordering {
	cursor: move;
}

tr.ordering td,
tr:nth-child(odd).ordering td {
	background-color: @accent;
}

tr.ordering td,
tr.ordering a {
	color: @white;
}

/*-----------------------------------------------------------------------------
	Blueprints
-----------------------------------------------------------------------------*/

#blueprints-datasources,
#blueprints-sections {
	.field-publish_tabs.instance .frame-header {
		background-color: @accent!important;

		* {
			color: @white!important;
		}
	}

	.field-publishnotes.instance .frame-header {
		background-color: @lightest-grey;
	}
}

/*-----------------------------------------------------------------------------
	Status
-----------------------------------------------------------------------------*/

tr.status-ok:not(.selected) td:first-child {
	color: @accent;
}

tr.status-notice:not(.selected) td:first-child {
	color: @yellow;
}

tr.status-error:not(.selected) td:first-child {
	color: @red;
}

tr.inactive:not(.selected) td:first-child {
	color: @grey;
}
