/**
 * Symphony Tables
 */

/*-----------------------------------------------------------------------------
	LESS — Variables Importing
-----------------------------------------------------------------------------*/

@import "variables";

/*-----------------------------------------------------------------------------
	Tables
-----------------------------------------------------------------------------*/

table {
	display: block;
	width: 100%;

	thead, tbody, th, tr, td {
		display: block;
		width: 100%;
	}

	tr {
		display: flex;
		align-items: center;
		width: 100%;
		padding: var(--spacing-smallest) var(--spacing-smaller);
		box-sizing: border-box;

		@media (max-width: (@sm - 1)) {
			display: block;
		}
	}

	th {
		display: block;
		width: 100%;

		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		text-align: left;
		text-transform: uppercase;
		font-weight: 500;

		color: var(--color-main-dark);
		font-size: var(--text-smaller);
	}

	thead {
		box-shadow: var(--shadow);
		padding: 0 var(--spacing-smallerish);
		box-sizing: border-box;

		a {
			color: var(--color-main-dark);
		}

		a:after {
			margin-left: var(--spacing-micro);
			content: '';
		}

		a[href*="order=desc"]:after,
		a.active[href*="order=asc"]:after,
		a.active[href*="order=desc"]:hover:after {
			content: '\2193'; /* down arrow */
		}

		a[href*="order=asc"]:after,
		a.active[href*="order=desc"]:after,
		a.active[href*="order=asc"]:hover:after {
			content: '\2191'; /* up arrow */
		}

		@media (max-width: (@sm - 1)) {
			display: none;
		}
	}

	tbody {
		padding: 0 var(--spacing-smallerish);
		box-sizing: border-box;
		margin-top: var(--spacing-smallerish);

		tr {
			background-color: var(--color-clear);
			margin: var(--spacing-nano);
			box-shadow: var(--shadow);
			border-radius: var(--radius-current);
			overflow: hidden;

			@media (max-width: (@sm - 1)) {
				margin: var(--spacing-smallest) var(--spacing-nano);
			}
		}

		td {
			color: var(--color-main-light);
			font-size: var(--text-current);

			&.inactive {
				color: var(--color-main-light);
			}

			a {
				color: var(--color-accent);
			}

			@media (max-width: (@sm - 1)) {
				&::before {
					content: attr(data-title);
					font-weight: 500;
					margin-right: var(--spacing-smallest);
					color: var(--color-main-dark);
				}
			}

		}
	}

	//  Hide content when on small screen
	@media (min-width: @sm) and (max-width: (@xl - 1)) {
		td:nth-child(n + 6),
		th:nth-child(n + 6) {
			display: none;
		}
	}

	@media (min-width: @xl) and (max-width: (@xxl - 1)) {
		td:nth-child(n + 8),
		th:nth-child(n + 8) {
			display: none;
		}
	}
}

/*-----------------------------------------------------------------------------
	Selectable rows
-----------------------------------------------------------------------------*/

table.selectable input {
	display: none;
}

tr.selected {
	color: var(--color-main-dark);
	background-color: var(--color-accent-alt-light);

	a {
		color: var(--color-main-dark);
		&:hover {
			color: var(--color-main-dark);
		}
	}

	.inactive {
		color: var(--color-main-dark);
	}
}

/*-----------------------------------------------------------------------------
	Orderable rows
-----------------------------------------------------------------------------*/

tr.ordering {
	cursor: move;
}

tr.ordering td,
tr:nth-child(odd).ordering td {
	background-color: var(--color-accent);
}

tr.ordering td,
tr.ordering a {
	color: var(--color-clear);
}

/*-----------------------------------------------------------------------------
	Status
-----------------------------------------------------------------------------*/

tr.status-ok:not(.selected) td:first-child {
	color: var(--color-accent);
}

tr.status-notice:not(.selected) td:first-child {
	color: var(--color-accent-alt);
}

tr.status-error:not(.selected) td:first-child {
	color: var(--color-error);
}

tr.inactive:not(.selected) td:first-child {
	color: var(--color-main);
}
