/**
 * Symphony Drawers
 *
 * Drawers are areas in the backend that contain additional information
 * like settings or documentation. They are hidden by default and can be
 * expanded on click.
 *
 * @since Symphony 2.3
 */

/*-----------------------------------------------------------------------------
	LESS — Variables Importing
-----------------------------------------------------------------------------*/

@import "variables";

/*-----------------------------------------------------------------------------
	Horizontal drawers
-----------------------------------------------------------------------------*/

div.drawer.horizontal {
	box-sizing: border-box;
	position: absolute;
	right: 0;
	top: 100%;
	border: 1px solid var(--color-main-light);
	background: var(--color-clear);
	width: 80rem;
	max-width: 100%;

	.contents {
		padding: var(--spacing-smallish) var(--spacing-smallish) var(--spacing-mid);
	}
}

/*-----------------------------------------------------------------------------
	Vertical drawers
-----------------------------------------------------------------------------*/

#contents div.drawer.vertical-left,
#contents div.drawer.vertical-right {
	.transitioned(~'transform');
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	position: fixed;
	top: ~'calc(var(--spacing-midlarge) * 2)';
	bottom: 0;
	background: var(--color-clear);
	width: var(--spacing-huger)!important;
	height: auto!important;
	max-width: 100%;
	z-index: 100;

	.contents {
		padding: 0 0 var(--spacing-mid);
	}
}

#contents div.drawer.vertical-left {
	left: 0;
	border-right: 1px solid var(--color-main-light);
	transform: translateX(-100%);

	&.opened {
		transform: none;
	}
}

#contents div.drawer.vertical-right {
	right: 0;
	border-left: 1px solid var(--color-main-light);
	transform: translateX(100%);

	&.opened {
		transform: none;
	}
}
