/**
 * Errors are used in different areas of the system to show erroneous states
 *
 * @since: Symphony 4.0.0
 */

/*-----------------------------------------------------------------------------
	LESS — Variables Importing
-----------------------------------------------------------------------------*/

@import "variables";

/*--------------------------------------------------------------------------
	Error messages
--------------------------------------------------------------------------*/

body#error {
	.flex(~'column', ~'center', ~'center');
	box-sizing: border-box;
	padding: var(--spacing-smallish);
	width: 100%;
	min-height: 100vh;
}

.frame.error {
	padding: 0;
	overflow: hidden;
	background: var(--color-clear);
	width: @sm;
	max-width: 100%;

	.error {
		color: var(--color-error);
	}

	.error.full {
		color: var(--color-error);
	}

	a {
		color: var(--color-accent);

		&:hover {
			color: currentColor;
		}
	}

	> ul {
		margin: 0;

		p, h1 {
			padding: var(--spacing-smallest) var(--spacing-smallerish);
			margin: 0;
		}

		> li > ul {
			border-top: 1px solid var(--color-main-light);
			padding: var(--spacing-micro) 0;
	
			li {
				color: var(--color-main-dark);
				font-size: var(--text-small);
				margin: 0;
				padding: 0 var(--spacing-smallerish);
			}
		}
	}

	.content {
		padding: 0 var(--spacing-smallerish);
		box-sizing: border-box;
		overflow-x: auto;

		ul {
			padding: var(--spacing-micro) 0;
			margin: 0;
		}

		li {
			color: var(--color-main-dark);
			font-size: var(--text-small);
			margin: 0;
			padding: 0 var(--spacing-smallerish);
		}
	}
}
