/**
 * Symphony Notifications
 *
 * @since Symphony 4.0
 */

/*-----------------------------------------------------------------------------
	LESS — Variables Importing
-----------------------------------------------------------------------------*/

@import "variables.less";

/*-----------------------------------------------------------------------------
	Modals
-----------------------------------------------------------------------------*/

.modal {
	position: relative;

	.modal-trigger {
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: var(--spacing-smallest);
		background-color: transparent;
		color: var(--color-main);

		svg {
			flex-shrink: 0;
		}

		&:hover {
			background-color: var(--color-main-lightest);
		}
	}

	.modal-content {
		position: absolute;
		z-index: 1;
		background-color: var(--color-clear);
		opacity: 0;
		pointer-events: none;
		border: 1px solid var(--color-main-lightest);
		box-shadow: var(--shadow);
		border-radius: var(--radius-current);
		transition-timing-function: var(--ease-current);
		transition-property: opacity;
		transition-duration: var(--duration-shorter);
		overflow: hidden;
		margin: 0;

		&.top {
			top: 0;
		}

		&.right {
			right: 0;
		}

		&.bottom {
			bottom: 0;
		}

		&.left {
			left: 0;
		}

		button {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding: var(--spacing-smallest);
			background-color: var(--color-clear);
			width: var(--spacing-larger);
			border-radius: 0;
			font-size: var(--text-current);
			font-weight: 500;
			margin: 0;
			color: var(--color-main);

			svg {
				margin-right: var(--spacing-smallest);
			}

			&:hover {
				color: var(--color-main-dark);
				background-color: var(--color-ui);
			}

			&[name="action[delete]"]:hover {
				color: var(--color-clear);
				background-color: var(--color-error);
			}
		}
	}

	&.is-open .modal-content {
		opacity: 1;
		pointer-events: all;
	}

}
