/**
 * Frames are used in different areas of the system to group content,
 * e. g. in the section or data source editor.
 *
 * @since: Symphony 2.3
 */

/*-----------------------------------------------------------------------------
	LESS — Variables Importing
-----------------------------------------------------------------------------*/

@import "variables";

/*--------------------------------------------------------------------------
	Basic Frame
--------------------------------------------------------------------------*/

.frame {
	box-sizing: border-box;
	border-radius: @radius-current;
	position: relative;
	margin: 0;
	padding: @spacing-smallerish;
	border: 1px solid @lighter-grey;
	background: @lightest-grey;

	h1 {
		padding: @spacing-smallest;
		color: @white;
		font-size: inherit;
		font-weight: normal;
		line-height: inherit;
		border-radius: @radius-current @radius-current 0 0;
		background: @darker-grey;
	}

	a {
		color: @accent;

		&:hover {
			color: currentColor;
		}
	}

	.tags {
		margin: -@spacing-smallish 0 @spacing-smallerish;
	}

	iframe {
		display: block;
		margin: 0 auto;
		width: 368px;
		max-width: 100%;
		height: 206px;
	}

	> button {
		font-size: @text-shorter;
		text-transform: uppercase;
		line-height: 1.6rem;
		margin: 0;
		padding: @spacing-smallest @spacing-smallerish;
		background: @accent;
		border-radius: @radius-current;
		cursor: pointer;

		&:not(:disabled):hover {
			border-color: @darker-grey;
			background: @darker-grey;
		}

		&:disabled {
			cursor: default;
		}

		& + button {
			margin-left: @spacing-micro;
		}
	}

	.content {
		padding-top: @spacing-smallerish;

		.help {
			margin-top: @spacing-smallest!important;
		}
	}

	&.empty {
		min-height: 3.6rem;
	}
}

/* Headers */

.frame-header {
	.flex(~'row', ~'center', ~'flex-start');
	position: relative;
	padding: @spacing-smallest @spacing-smallerish;
	border-top: 1px solid @lighter-grey;

	h4 {
		.flex(~'row', ~'center', ~'flex-start');
		font-size: @text-short;

		* {
			.transitioned(~'color');
		}

		strong {
			font-weight: 400;
		}

		span, & + span {
			color: @dark-grey;
			font-size: @text-short;
			padding-left: @spacing-smallest;
		}

		svg {
			padding-left: @spacing-smallerish;

			* {
				.transitioned(~'fill');
			}
		}

		.required {
			color: @grey;
		}
	}

	> a:first-of-type {
		margin-left: auto!important;
	}
}

/*--------------------------------------------------------------------------
	Inline frames (e. g. upload fields)
--------------------------------------------------------------------------*/

span.frame,
fieldset.frame,
.frame.inline {
	display: block;
	margin-bottom: @spacing-smaller;
	padding: @spacing-smallest;
}

/*--------------------------------------------------------------------------
	Controls
--------------------------------------------------------------------------*/

.duplicator {
	margin-bottom: 8.2rem;

	.apply {
		position: absolute;
		right: 0;
		bottom: -5.2rem;
	}
}

.frame .destructor,
.frame .debug {
	color: @light-grey;
	font-size: @text-short!important;
	margin: 0 0 0 @spacing-smallerish;
}

.frame .destructor {
	margin-left: auto;

	a {
		padding: 0 0 0 @spacing-smallest;
	}
}

.frame .destructor:hover,
.frame .debug:hover,
.frame .constructor:hover {
	color: @darker-grey;
}

.frame .disabled {
	/*color: @light-grey;*/
	opacity: 0.5;
	cursor: not-allowed;
}

/* Applicators */

.frame .apply {
	margin-top: @spacing-smallest;
}

.frame .actions {
	margin: 0 0 @spacing-smallest;
}

.frame .actions input {
	margin-top: 0;
}

.frame .actions button {
	float: right;
}

/*-----------------------------------------------------------------------------
	Orderables and Selectables
-----------------------------------------------------------------------------*/

.orderable .frame-header,
.collapsible.orderable .ordering * {
	cursor: move;
}

.orderable .frame-header:hover,
.frame .selected .frame-header,
.frame .ordering .frame-header {
	h4, h4 span {
		color: @accent;
	}
}

.frame .selected,
.frame .ordering {
	position: relative;
}

.ordering .frame-header {
	cursor: move;

	h4, h4 span {
		color: @accent;
	}
}

.frame .ordering .frame-header span,
.frame .ordering .frame-header .destructor,
.frame .ordering .content i,
.frame .ordering ul.tags {
	color: @white;
}

/*-----------------------------------------------------------------------------
	Collapsibles
-----------------------------------------------------------------------------*/

.constructable,
.collapsible {
	padding: 0;
}

fieldset.settings .constructable,
fieldset.settings .collapsible {
	background: none;
}

.constructable > * > li,
.collapsible > * > li {
	overflow: hidden;
	margin-left: -@spacing-smallerish;
	padding: 0 @spacing-smallerish!important;
	width: 100%;

	&:first-of-type .frame-header {
		border: none;
	}

	.content {
		padding: @spacing-smallerish;
		border-top: 1px solid @lighter-grey;
	}
}

.collapsible .instance.collapsed {
	overflow: hidden;
}

.collapsible .instance,
.collapsible input,
.collapsible textarea,
.collapsible select,
.collapsible option {
	-webkit-font-smoothing: subpixel-antialiased !important;
}

.collapsible .frame-header {
	cursor: pointer;
}

.collapsible legend {
	padding-right: 0.5rem;
}

.collapsed.js-animate,
.destructed.js-animate {
	transition: max-height @duration-short @easeInOutQuad;
}

.collapsible .js-animate {
	overflow: hidden;
}

.collapsible .instance:not(.collapsed) .frame-header {
	h4, h4 span {
		color: @accent;
	}
}

.collapsible .field-publishnotes {
	margin-top: 0;
}

.frame .js-animate {
	overflow: hidden;
	transition: max-height @duration-short @easeInOutQuad;
}

/*--------------------------------------------------------------------------
	Login
--------------------------------------------------------------------------*/

#login {
	.flex(~'column', ~'center', ~'center');
	box-sizing: border-box;
	padding: @spacing-smallish;
	width: 100%;
	min-height: 100vh;

	fieldset {
		padding: @spacing-smallerish;

		legend {
			display: none;
		}

		label + label {
			margin-top: @spacing-smallish;
		}
	}

	.frame {
		overflow: hidden;
		padding: 0;
		background: @white;
		width: @spacing-huger;
		max-width: 100%;

		h1 {
			padding: @spacing-smallest @spacing-smallerish;
			background: @accent;
		}
	}

	.actions {
		.flex(~'row-reverse', ~'center', ~'space-between');
		padding: 0 @spacing-smallerish @spacing-smallerish;

		.action-link {
			color: @dark-grey;
			font-size: @text-short;
		}

		button {
			border-radius: @radius-current;
			font-size: @text-shorter;
			text-transform: uppercase;
			padding: @spacing-smallest @spacing-smallerish;
			background: @accent;
		}
	}
}

/*-----------------------------------------------------------------------------
	Invalid states
-----------------------------------------------------------------------------*/

.conflict {
	.frame-header {
		background-color: @red!important;

		* {
			color: @white!important;

		}
	}
}
